.c-5 { box-sizing: border-box; width: 4.16667%; }
.c1 { box-sizing: border-box; width: 8.33333%; }
.c2 { box-sizing: border-box; width: 16.66667%; }
.c3 { box-sizing: border-box; width: 25%; }
.c4 { box-sizing: border-box; width: 33.33333%; }
.c5 { box-sizing: border-box; width: 41.66667%; }
.c6 { box-sizing: border-box; width: 50%; }
.c7 { box-sizing: border-box; width: 58.33333%; }
.c8 { box-sizing: border-box; width: 66.66667%; }
.c9 { box-sizing: border-box; width: 75%; }
.c10 { box-sizing: border-box; width: 83.33333%; }
.c11 { box-sizing: border-box; width: 91.66667%; }
.c12 { box-sizing: border-box; width: 100%; }
.co0 { margin-left: 0; }
.co-5 { margin-left: 4.16667%; }
.co1 { margin-left: 8.33333%; }
.co2 { margin-left: 16.66667%; }
.co3 { margin-left: 25%; }
.co4 { margin-left: 33.33333%; }
.co5 { margin-left: 41.66667%; }
.co6 { margin-left: 50%; }
.co7 { margin-left: 58.33333%; }
.co8 { margin-left: 66.66667%; }
.co9 { margin-left: 75%; }
.co10 { margin-left: 83.33333%; }
.co11 { margin-left: 91.66667%; }
.co12 { margin-left: 100%; }
.g { padding: 1rem; }
.gl { padding-left: 1rem; }
.gr { padding-right: 1rem; }
.gt { padding-top: 1rem; }
.gb { padding-bottom: 1rem; }
.gx { padding-left: 1rem; padding-right: 1rem; }
.gy { padding-top: 1rem; padding-bottom: 1rem; }
.p0 { padding: 0; }
.pt0 { padding-top: 0; }
.pr0 { padding-right: 0; }
.pb0 { padding-bottom: 0; }
.pl0 { padding-left: 0; }
.px0 { padding-left: 0; padding-right: 0; }
.py0 { padding-top: 0; padding-bottom: 0; }
.p1 { padding: 0.5rem; }
.pt1 { padding-top: 0.5rem; }
.pr1 { padding-right: 0.5rem; }
.pb1 { padding-bottom: 0.5rem; }
.pl1 { padding-left: 0.5rem; }
.px1 { padding-left: 0.5rem; padding-right: 0.5rem; }
.py1 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.p2 { padding: 1rem; }
.pt2 { padding-top: 1rem; }
.pr2 { padding-right: 1rem; }
.pb2 { padding-bottom: 1rem; }
.pl2 { padding-left: 1rem; }
.px2 { padding-left: 1rem; padding-right: 1rem; }
.py2 { padding-top: 1rem; padding-bottom: 1rem; }
.m0 { margin: 0; }
.mt0 { margin-top: 0; }
.mr0 { margin-right: 0; }
.mb0 { margin-bottom: 0; }
.ml0 { margin-left: 0; }
.m1 { margin: 0.5rem; }
.mt1 { margin-top: 0.5rem; }
.mr1 { margin-right: 0.5rem; }
.mb1 { margin-bottom: 0.5rem; }
.ml1 { margin-left: 0.5rem; }
.m2 { margin: 1rem; }
.mt2 { margin-top: 1rem; }
.mr2 { margin-right: 1rem; }
.mb2 { margin-bottom: 1rem; }
.ml2 { margin-left: 1rem; }
.dn { display: none; }
.db { display: block; }
.dib { display: inline-block; }
.di { display: inline; }
.dt { display: table; }
.dtc { display: table-cell; }
.dtr { display: table-row; }
.dx { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.x { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.xx { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }
.xa { -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; }
.xn { -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; }
.xw { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.xwr { -webkit-flex-wrap: wrap-reverse; -ms-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }
.xwn { -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
.xac { -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.xab { -webkit-box-align: baseline; -webkit-align-items: baseline; -ms-flex-align: baseline; align-items: baseline; }
.xas { -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }
.xafs { -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }
.xafe { -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; }
.xdr { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; }
.xdrr { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }
.xdc { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
.xdcr { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -webkit-flex-direction: column-reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; }
.xjc { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
.xjb { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
.xja { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }
.xjs { -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; }
.xje { -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }
.xot { -webkit-box-ordinal-group: 0; -webkit-order: -1; -ms-flex-order: -1; order: -1; }
.xob { -webkit-box-ordinal-group: 100; -webkit-order: 99; -ms-flex-order: 99; order: 99; }
.xo1 { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
.xo2 { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; }
.xo3 { -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; }
.xo4 { -webkit-box-ordinal-group: 5; -webkit-order: 4; -ms-flex-order: 4; order: 4; }
.fl { float: left; }
.fr { float: right; }
.fn { float: none; }
.cf::before, .cf::after { content: ' '; display: table; }
.cf::after { clear: both; }
.pss { position: static; }
.psr { position: relative; }
.psa { position: absolute; }
.psf { position: fixed; }
.t0 { top: 0; }
.r0 { right: 0; }
.b0 { bottom: 0; }
.l0 { left: 0; }
.tauto { top: auto; }
.rauto { right: auto; }
.bauto { bottom: auto; }
.lauto { left: auto; }
.wauto { width: auto; }
.hauto { height: auto; }
.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }
.z4 { z-index: 4; }
.h1 { font-size: 6.4rem; }
h1 { font-size: 6.4rem; }
.h2 { font-size: 3.2rem; }
h2 { font-size: 3.2rem; }
.h3 { font-size: 2.4rem; }
h3 { font-size: 2.4rem; }
.h4 { font-size: 1.6rem; }
h4 { font-size: 1.6rem; }
.h5 { font-size: 1.2rem; }
h5 { font-size: 1.2rem; }
.h6 { font-size: 1rem; }
h6 { font-size: 1rem; }
.tal { text-align: left; }
.tar { text-align: right; }
.tac { text-align: center; }
.taj { text-align: justify; }
.tafj { text-align: justify; }
.tafj:after { content: ""; display: inline-block; width: 100%; }
.ttu { text-transform: uppercase; }
.ttl { text-transform: lowercase; }
.ttc { text-transform: capitalize; }
.ttn { text-transform: none; }
.tdu { text-decoration: underline; }
.tdo { text-decoration: overline; }
.tdl { text-decoration: line-through; }
.tdn { text-decoration: none; }
.bgsc { background-size: cover; }
.bgsct { background-size: contain; }
.bgpc { background-position: center; }
.bgpt { background-position: top; }
.bgpr { background-position: right; }
.bgpb { background-position: bottom; }
.bgpl { background-position: left; }
.bgrn { background-repeat: no-repeat; }
.bgrx { background-repeat: repeat-x; }
.bgry { background-repeat: repeat-y; }
.bgc { background-size: cover; background-position: center; background-repeat: no-repeat; }
.bgct { background-size: contain; background-position: center; background-repeat: no-repeat; }
.bgn { background: none; }
.op0 { opacity: 0; }
.op10 { opacity: 0.1; }
.op20 { opacity: 0.2; }
.op30 { opacity: 0.3; }
.op40 { opacity: 0.4; }
.op50 { opacity: 0.5; }
.op60 { opacity: 0.6; }
.op70 { opacity: 0.7; }
.op80 { opacity: 0.8; }
.op90 { opacity: 0.9; }
.op100 { opacity: 1; }
.bb { box-sizing: border-box; }
.fh { height: 100%; }
.fhm { min-height: 100%; }
.fw { width: 100%; }
.vw { width: 100vw; }
.vh { height: 100vh; }
.vwmn { min-width: 100vw; }
.vhmn { min-height: 100vh; }
.vwmx { max-width: 100vw; }
.vhmx { max-height: 100vh; }
.vabl { vertical-align: baseline; }
.vat { vertical-align: top; }
.vam { vertical-align: middle; }
.vab { vertical-align: bottom; }
.cc { font-size: 0; }
.ts { height: 1px; }
.oh { overflow: hidden; }
.ohx { overflow-x: hidden; }
.ohy { overflow-y: hidden; }
.os { overflow: scroll; }
.osx { overflow-x: scroll; }
.osy { overflow-y: scroll; }
.curp { cursor: pointer; }
.curd { cursor: default; }
.no-pointer { pointer-events: none; }
.no-select { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.dev1 { outline: 1px solid #912eff; }
.dev2 { outline: 1px solid #5497ff; }
.dev3 { outline: 1px solid #51feff; }
.dev4 { outline: 1px solid #ff0000; }
.dev5 { outline: 1px solid #00ff00; }
.dev * { outline: 1px solid #912eff; }
.dev * > * { outline: 1px solid #5497ff; }
.dev * > * > * { outline: 1px solid #51feff; }
.dev * > * > * > * { outline: 1px solid #ff0000; }
.dev * > * > * > * > * { outline: 1px solid #00ff00; }
