.h1 { font-size: 32px; font-size: 2rem }
.h2 { font-size: 24px; font-size: 1.5rem }
.h3 { font-size: 20px; font-size: 1.25rem }
.h4 { font-size: 16px; font-size: 1rem }
.h5 { font-size: 14px; font-size: .875rem }
.h6 { font-size: 12px; font-size: .75rem }
.m0  { margin: 0 }
.mt0 { margin-top: 0 }
.mr0 { margin-right: 0 }
.mb0 { margin-bottom: 0 }
.ml0 { margin-left: 0 }
.m1  { margin: 8px; margin: .5rem }
.mt1 { margin-top: 8px; margin-top: .5rem }
.mr1 { margin-right: 8px; margin-right: .5rem }
.mb1 { margin-bottom: 8px; margin-bottom: .5rem }
.ml1 { margin-left: 8px; margin-left: .5rem }
.m2  { margin: 16px; margin: 1rem }
.mt2 { margin-top: 16px; margin-top: 1rem }
.mr2 { margin-right: 16px; margin-right: 1rem }
.mb2 { margin-bottom: 16px; margin-bottom: 1rem }
.ml2 { margin-left: 16px; margin-left: 1rem }
.m3  { margin: 32px; margin: 2rem }
.mt3 { margin-top: 32px; margin-top: 2rem }
.mr3 { margin-right: 32px; margin-right: 2rem }
.mb3 { margin-bottom: 32px; margin-bottom: 2rem }
.ml3 { margin-left: 32px; margin-left: 2rem }
.m4  { margin: 64px; margin: 4rem }
.mt4 { margin-top: 64px; margin-top: 4rem }
.mr4 { margin-right: 64px; margin-right: 4rem }
.mb4 { margin-bottom: 64px; margin-bottom: 4rem }
.ml4 { margin-left: 64px; margin-left: 4rem }
.mxn1 { margin-left: -8px; margin-left: -.5rem; margin-right: -8px; margin-right: -.5rem }
.mxn2 { margin-left: -16px; margin-left: -1rem; margin-right: -16px; margin-right: -1rem }
.mxn3 { margin-left: -32px; margin-left: -2rem; margin-right: -32px; margin-right: -2rem }
.mxn4 { margin-left: -64px; margin-left: -4rem; margin-right: -64px; margin-right: -4rem }
@media (min-width: 40em) {
  .sm-m0  { margin: 0 }
  .sm-mt0 { margin-top: 0 }
  .sm-mr0 { margin-right: 0 }
  .sm-mb0 { margin-bottom: 0 }
  .sm-ml0 { margin-left: 0 }
  .sm-m1  { margin: .5rem }
  .sm-mt1 { margin-top: .5rem }
  .sm-mr1 { margin-right: .5rem }
  .sm-mb1 { margin-bottom: .5rem }
  .sm-ml1 { margin-left: .5rem }
  .sm-m2  { margin: 1rem }
  .sm-mt2 { margin-top: 1rem }
  .sm-mr2 { margin-right: 1rem }
  .sm-mb2 { margin-bottom: 1rem }
  .sm-ml2 { margin-left: 1rem }
  .sm-m3  { margin: 2rem }
  .sm-mt3 { margin-top: 2rem }
  .sm-mr3 { margin-right: 2rem }
  .sm-mb3 { margin-bottom: 2rem }
  .sm-ml3 { margin-left: 2rem }
  .sm-m4  { margin: 4rem }
  .sm-mt4 { margin-top: 4rem }
  .sm-mr4 { margin-right: 4rem }
  .sm-mb4 { margin-bottom: 4rem }
  .sm-ml4 { margin-left: 4rem }
  .sm-mxn1 { margin-left: -.5rem; margin-right: -.5rem }
  .sm-mxn2 { margin-left: -1rem; margin-right: -1rem }
  .sm-mxn3 { margin-left: -2rem; margin-right: -2rem }
  .sm-mxn4 { margin-left: -4rem; margin-right: -4rem }
}
@media (min-width: 52em) {
  .md-m0  { margin: 0 }
  .md-mt0 { margin-top: 0 }
  .md-mr0 { margin-right: 0 }
  .md-mb0 { margin-bottom: 0 }
  .md-ml0 { margin-left: 0 }
  .md-m1  { margin: .5rem }
  .md-mt1 { margin-top: .5rem }
  .md-mr1 { margin-right: .5rem }
  .md-mb1 { margin-bottom: .5rem }
  .md-ml1 { margin-left: .5rem }
  .md-m2  { margin: 1rem }
  .md-mt2 { margin-top: 1rem }
  .md-mr2 { margin-right: 1rem }
  .md-mb2 { margin-bottom: 1rem }
  .md-ml2 { margin-left: 1rem }
  .md-m3  { margin: 2rem }
  .md-mt3 { margin-top: 2rem }
  .md-mr3 { margin-right: 2rem }
  .md-mb3 { margin-bottom: 2rem }
  .md-ml3 { margin-left: 2rem }
  .md-m4  { margin: 4rem }
  .md-mt4 { margin-top: 4rem }
  .md-mr4 { margin-right: 4rem }
  .md-mb4 { margin-bottom: 4rem }
  .md-ml4 { margin-left: 4rem }
  .md-mxn1 { margin-left: -.5rem; margin-right: -.5rem }
  .md-mxn2 { margin-left: -1rem; margin-right: -1rem }
  .md-mxn3 { margin-left: -2rem; margin-right: -2rem }
  .md-mxn4 { margin-left: -4rem; margin-right: -4rem }
}
@media (min-width: 64em) {
  .lg-m0  { margin: 0 }
  .lg-mt0 { margin-top: 0 }
  .lg-mr0 { margin-right: 0 }
  .lg-mb0 { margin-bottom: 0 }
  .lg-ml0 { margin-left: 0 }
  .lg-m1  { margin: .5rem }
  .lg-mt1 { margin-top: .5rem }
  .lg-mr1 { margin-right: .5rem }
  .lg-mb1 { margin-bottom: .5rem }
  .lg-ml1 { margin-left: .5rem }
  .lg-m2  { margin: 1rem }
  .lg-mt2 { margin-top: 1rem }
  .lg-mr2 { margin-right: 1rem }
  .lg-mb2 { margin-bottom: 1rem }
  .lg-ml2 { margin-left: 1rem }
  .lg-m3  { margin: 2rem }
  .lg-mt3 { margin-top: 2rem }
  .lg-mr3 { margin-right: 2rem }
  .lg-mb3 { margin-bottom: 2rem }
  .lg-ml3 { margin-left: 2rem }
  .lg-m4  { margin: 4rem }
  .lg-mt4 { margin-top: 4rem }
  .lg-mr4 { margin-right: 4rem }
  .lg-mb4 { margin-bottom: 4rem }
  .lg-ml4 { margin-left: 4rem }
  .lg-mxn1 { margin-left: -.5rem; margin-right: -.5rem }
  .lg-mxn2 { margin-left: -1rem; margin-right: -1rem }
  .lg-mxn3 { margin-left: -2rem; margin-right: -2rem }
  .lg-mxn4 { margin-left: -4rem; margin-right: -4rem }
}
.p0  { padding: 0 }
.pt0 { padding-top: 0 }
.pr0 { padding-right: 0 }
.pb0 { padding-bottom: 0 }
.pl0 { padding-left: 0 }
.p1  { padding: 8px; padding: .5rem }
.pt1 { padding-top: 8px; padding-top: .5rem }
.pr1 { padding-right: 8px; padding-right: .5rem }
.pb1 { padding-bottom: 8px; padding-bottom: .5rem }
.pl1 { padding-left: 8px; padding-left: .5rem }
.px1 { padding-left: 8px; padding-left: .5rem; padding-right: 8px; padding-right: .5rem }
.py1 { padding-top: 8px; padding-top: .5rem; padding-bottom: 8px; padding-bottom: .5rem }
.p2  { padding: 16px; padding: 1rem }
.pt2 { padding-top: 16px; padding-top: 1rem }
.pr2 { padding-right: 16px; padding-right: 1rem }
.pb2 { padding-bottom: 16px; padding-bottom: 1rem }
.pl2 { padding-left: 16px; padding-left: 1rem }
.px2 { padding-left: 16px; padding-left: 1rem; padding-right: 16px; padding-right: 1rem }
.py2 { padding-top: 16px; padding-top: 1rem; padding-bottom: 16px; padding-bottom: 1rem }
.p3  { padding: 32px; padding: 2rem }
.pt3 { padding-top: 32px; padding-top: 2rem }
.pr3 { padding-right: 32px; padding-right: 2rem }
.pb3 { padding-bottom: 32px; padding-bottom: 2rem }
.pl3 { padding-left: 32px; padding-left: 2rem }
.px3 { padding-left: 32px; padding-left: 2rem; padding-right: 32px; padding-right: 2rem }
.py3 { padding-top: 32px; padding-top: 2rem; padding-bottom: 32px; padding-bottom: 2rem }
.p4  { padding: 64px; padding: 4rem }
.pt4 { padding-top: 64px; padding-top: 4rem }
.pr4 { padding-right: 64px; padding-right: 4rem }
.pb4 { padding-bottom: 64px; padding-bottom: 4rem }
.pl4 { padding-left: 64px; padding-left: 4rem }
.px4 { padding-left: 64px; padding-left: 4rem; padding-right: 64px; padding-right: 4rem }
.py4 { padding-top: 64px; padding-top: 4rem; padding-bottom: 64px; padding-bottom: 4rem }
@media (min-width: 40em) {
  .sm-p0  { padding: 0 }
  .sm-pt0 { padding-top: 0 }
  .sm-pr0 { padding-right: 0 }
  .sm-pb0 { padding-bottom: 0 }
  .sm-pl0 { padding-left: 0 }
  .sm-p1  { padding: .5rem }
  .sm-pt1 { padding-top: .5rem }
  .sm-pr1 { padding-right: .5rem }
  .sm-pb1 { padding-bottom: .5rem }
  .sm-pl1 { padding-left: .5rem }
  .sm-px1 { padding-left: .5rem; padding-right: .5rem }
  .sm-py1 { padding-top: .5rem; padding-bottom: .5rem }
  .sm-p2  { padding: 1rem }
  .sm-pt2 { padding-top: 1rem }
  .sm-pr2 { padding-right: 1rem }
  .sm-pb2 { padding-bottom: 1rem }
  .sm-pl2 { padding-left: 1rem }
  .sm-px2 { padding-left: 1rem; padding-right: 1rem }
  .sm-py2 { padding-top: 1rem; padding-bottom: 1rem }
  .sm-p3  { padding: 2rem }
  .sm-pt3 { padding-top: 2rem }
  .sm-pr3 { padding-right: 2rem }
  .sm-pb3 { padding-bottom: 2rem }
  .sm-pl3 { padding-left: 2rem }
  .sm-px3 { padding-left: 2rem; padding-right: 2rem }
  .sm-py3 { padding-top: 2rem; padding-bottom: 2rem }
  .sm-p4  { padding: 4rem }
  .sm-pt4 { padding-top: 4rem }
  .sm-pr4 { padding-right: 4rem }
  .sm-pb4 { padding-bottom: 4rem }
  .sm-pl4 { padding-left: 4rem }
  .sm-px4 { padding-left: 4rem; padding-right: 4rem }
  .sm-py4 { padding-top: 4rem; padding-bottom: 4rem }
}
@media (min-width: 52em) {
  .md-p0  { padding: 0 }
  .md-pt0 { padding-top: 0 }
  .md-pr0 { padding-right: 0 }
  .md-pb0 { padding-bottom: 0 }
  .md-pl0 { padding-left: 0 }
  .md-p1  { padding: .5rem }
  .md-pt1 { padding-top: .5rem }
  .md-pr1 { padding-right: .5rem }
  .md-pb1 { padding-bottom: .5rem }
  .md-pl1 { padding-left: .5rem }
  .md-px1 { padding-left: .5rem; padding-right: .5rem }
  .md-py1 { padding-top: .5rem; padding-bottom: .5rem }
  .md-p2  { padding: 1rem }
  .md-pt2 { padding-top: 1rem }
  .md-pr2 { padding-right: 1rem }
  .md-pb2 { padding-bottom: 1rem }
  .md-pl2 { padding-left: 1rem }
  .md-px2 { padding-left: 1rem; padding-right: 1rem }
  .md-py2 { padding-top: 1rem; padding-bottom: 1rem }
  .md-p3  { padding: 2rem }
  .md-pt3 { padding-top: 2rem }
  .md-pr3 { padding-right: 2rem }
  .md-pb3 { padding-bottom: 2rem }
  .md-pl3 { padding-left: 2rem }
  .md-px3 { padding-left: 2rem; padding-right: 2rem }
  .md-py3 { padding-top: 2rem; padding-bottom: 2rem }
  .md-p4  { padding: 4rem }
  .md-pt4 { padding-top: 4rem }
  .md-pr4 { padding-right: 4rem }
  .md-pb4 { padding-bottom: 4rem }
  .md-pl4 { padding-left: 4rem }
  .md-px4 { padding-left: 4rem; padding-right: 4rem }
  .md-py4 { padding-top: 4rem; padding-bottom: 4rem }
}
@media (min-width: 64em) {
  .lg-p0  { padding: 0 }
  .lg-pt0 { padding-top: 0 }
  .lg-pr0 { padding-right: 0 }
  .lg-pb0 { padding-bottom: 0 }
  .lg-pl0 { padding-left: 0 }
  .lg-p1  { padding: .5rem }
  .lg-pt1 { padding-top: .5rem }
  .lg-pr1 { padding-right: .5rem }
  .lg-pb1 { padding-bottom: .5rem }
  .lg-pl1 { padding-left: .5rem }
  .lg-px1 { padding-left: .5rem; padding-right: .5rem }
  .lg-py1 { padding-top: .5rem; padding-bottom: .5rem }
  .lg-p2  { padding: 1rem }
  .lg-pt2 { padding-top: 1rem }
  .lg-pr2 { padding-right: 1rem }
  .lg-pb2 { padding-bottom: 1rem }
  .lg-pl2 { padding-left: 1rem }
  .lg-px2 { padding-left: 1rem; padding-right: 1rem }
  .lg-py2 { padding-top: 1rem; padding-bottom: 1rem }
  .lg-p3  { padding: 2rem }
  .lg-pt3 { padding-top: 2rem }
  .lg-pr3 { padding-right: 2rem }
  .lg-pb3 { padding-bottom: 2rem }
  .lg-pl3 { padding-left: 2rem }
  .lg-px3 { padding-left: 2rem; padding-right: 2rem }
  .lg-py3 { padding-top: 2rem; padding-bottom: 2rem }
  .lg-p4  { padding: 4rem }
  .lg-pt4 { padding-top: 4rem }
  .lg-pr4 { padding-right: 4rem }
  .lg-pb4 { padding-bottom: 4rem }
  .lg-pl4 { padding-left: 4rem }
  .lg-px4 { padding-left: 4rem; padding-right: 4rem }
  .lg-py4 { padding-top: 4rem; padding-bottom: 4rem }
}
.dn  { display: none }
.db  { display: block }
.dib { display: inline-block }
.di  { display: inline }
.dt  { display: table }
.dtc { display: table-cell }
.dtr { display: table-row }
@media (min-width: 40em) {
  .sm-dn  { display: none }
  .sm-db  { display: block }
  .sm-dib { display: inline-block }
  .sm-di  { display: inline }
  .sm-dt  { display: table }
  .sm-dtc { display: table-cell }
  .sm-dtr { display: table-row }
}
@media (min-width: 52em) {
  .md-dn  { display: none }
  .md-db  { display: block }
  .md-dib { display: inline-block }
  .md-di  { display: inline }
  .md-dt  { display: table }
  .md-dtc { display: table-cell }
  .md-dtr { display: table-row }
}
@media (min-width: 64em) {
  .lg-dn  { display: none }
  .lg-db  { display: block }
  .lg-dib { display: inline-block }
  .lg-di  { display: inline }
  .lg-dt  { display: table }
  .lg-dtc { display: table-cell }
  .lg-dtr { display: table-row }
}
.fl { float: left }
.fr { float: right }
.cf:before,
.cf:after {
  content: ' ';
  display: table;
}
.cf:after {
  clear: both;
}
.c-5 { box-sizing: border-box; width: 4.16667% }
.c1  { box-sizing: border-box; width: 8.33333% }
.c2  { box-sizing: border-box; width: 16.66667% }
.c3  { box-sizing: border-box; width: 25% }
.c4  { box-sizing: border-box; width: 33.33333% }
.c5  { box-sizing: border-box; width: 41.66667% }
.c6  { box-sizing: border-box; width: 50% }
.c7  { box-sizing: border-box; width: 58.33333% }
.c8  { box-sizing: border-box; width: 66.66667% }
.c9  { box-sizing: border-box; width: 75% }
.c10 { box-sizing: border-box; width: 83.33333% }
.c11 { box-sizing: border-box; width: 91.66667% }
.c12 { box-sizing: border-box; width: 100% }
@media (min-width: 40em) {
  .sm-c-5 { box-sizing: border-box; width: 4.16667% }
  .sm-c1  { box-sizing: border-box; width: 8.33333% }
  .sm-c2  { box-sizing: border-box; width: 16.66667% }
  .sm-c3  { box-sizing: border-box; width: 25% }
  .sm-c4  { box-sizing: border-box; width: 33.33333% }
  .sm-c5  { box-sizing: border-box; width: 41.66667% }
  .sm-c6  { box-sizing: border-box; width: 50% }
  .sm-c7  { box-sizing: border-box; width: 58.33333% }
  .sm-c8  { box-sizing: border-box; width: 66.66667% }
  .sm-c9  { box-sizing: border-box; width: 75% }
  .sm-c10 { box-sizing: border-box; width: 83.33333% }
  .sm-c11 { box-sizing: border-box; width: 91.66667% }
  .sm-c12 { box-sizing: border-box; width: 100% }
}
@media (min-width: 52em) {
  .md-c-5 { box-sizing: border-box; width: 4.16667% }
  .md-c1  { box-sizing: border-box; width: 8.33333% }
  .md-c2  { box-sizing: border-box; width: 16.66667% }
  .md-c3  { box-sizing: border-box; width: 25% }
  .md-c4  { box-sizing: border-box; width: 33.33333% }
  .md-c5  { box-sizing: border-box; width: 41.66667% }
  .md-c6  { box-sizing: border-box; width: 50% }
  .md-c7  { box-sizing: border-box; width: 58.33333% }
  .md-c8  { box-sizing: border-box; width: 66.66667% }
  .md-c9  { box-sizing: border-box; width: 75% }
  .md-c10 { box-sizing: border-box; width: 83.33333% }
  .md-c11 { box-sizing: border-box; width: 91.66667% }
  .md-c12 { box-sizing: border-box; width: 100% }
}
@media (min-width: 64em) {
  .lg-c-5 { box-sizing: border-box; width: 4.16667% }
  .lg-c1  { box-sizing: border-box; width: 8.33333% }
  .lg-c2  { box-sizing: border-box; width: 16.66667% }
  .lg-c3  { box-sizing: border-box; width: 25% }
  .lg-c4  { box-sizing: border-box; width: 33.33333% }
  .lg-c5  { box-sizing: border-box; width: 41.66667% }
  .lg-c6  { box-sizing: border-box; width: 50% }
  .lg-c7  { box-sizing: border-box; width: 58.33333% }
  .lg-c8  { box-sizing: border-box; width: 66.66667% }
  .lg-c9  { box-sizing: border-box; width: 75% }
  .lg-c10 { box-sizing: border-box; width: 83.33333% }
  .lg-c11 { box-sizing: border-box; width: 91.66667% }
  .lg-c12 { box-sizing: border-box; width: 100% }
}
.co-5 { margin-left: 4.16667% }
.co1  { margin-left: 8.33333% }
.co2  { margin-left: 16.66667% }
.co3  { margin-left: 25% }
.co4  { margin-left: 33.33333% }
.co5  { margin-left: 41.66667% }
.co6  { margin-left: 50% }
.co7  { margin-left: 58.33333% }
.co8  { margin-left: 66.66667% }
.co9  { margin-left: 75% }
.co10 { margin-left: 83.33333% }
.co11 { margin-left: 91.66667% }
@media (min-width: 40em) {
  .sm-co-5 { margin-left: 4.16667% }
  .sm-co1  { margin-left: 8.33333% }
  .sm-co2  { margin-left: 16.66667% }
  .sm-co3  { margin-left: 25% }
  .sm-co4  { margin-left: 33.33333% }
  .sm-co5  { margin-left: 41.66667% }
  .sm-co6  { margin-left: 50% }
  .sm-co7  { margin-left: 58.33333% }
  .sm-co8  { margin-left: 66.66667% }
  .sm-co9  { margin-left: 75% }
  .sm-co10 { margin-left: 83.33333% }
  .sm-co11 { margin-left: 91.66667% }
}
@media (min-width: 52em) {
  .md-co-5 { margin-left: 4.16667% }
  .md-co1  { margin-left: 8.33333% }
  .md-co2  { margin-left: 16.66667% }
  .md-co3  { margin-left: 25% }
  .md-co4  { margin-left: 33.33333% }
  .md-co5  { margin-left: 41.66667% }
  .md-co6  { margin-left: 50% }
  .md-co7  { margin-left: 58.33333% }
  .md-co8  { margin-left: 66.66667% }
  .md-co9  { margin-left: 75% }
  .md-co10 { margin-left: 83.33333% }
  .md-co11 { margin-left: 91.66667% }
}
@media (min-width: 64em) {
  .lg-co-5 { margin-left: 4.16667% }
  .lg-co1  { margin-left: 8.33333% }
  .lg-co2  { margin-left: 16.66667% }
  .lg-co3  { margin-left: 25% }
  .lg-co4  { margin-left: 33.33333% }
  .lg-co5  { margin-left: 41.66667% }
  .lg-co6  { margin-left: 50% }
  .lg-co7  { margin-left: 58.33333% }
  .lg-co8  { margin-left: 66.66667% }
  .lg-co9  { margin-left: 75% }
  .lg-co10 { margin-left: 83.33333% }
  .lg-co11 { margin-left: 91.66667% }
}
.x { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex }
.xw { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap }
.xc { -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center }
.xb { -webkit-box-align: baseline; -webkit-align-items: baseline; -ms-flex-align: baseline; align-items: baseline }
.xa { -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto }
.xn { -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none }
.xdr  { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row }
.xdrr { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse }
.xdc  { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column }
.xdcr { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -webkit-flex-direction: column-reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse }
.xjc { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center }
.xjb { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between }
.xja { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around }
.xjs { -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start }
.xje { -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end }
.z1 { z-index: 1 }
.z2 { z-index: 2 }
.z3 { z-index: 3 }
.z4 { z-index: 4 }
.pss { position: static }
.psr { position: relative }
.psa { position: absolute }
.psf { position: fixed }
.tal  { text-align: left }
.tar  { text-align: right }
.tac  { text-align: center }
.taj  { text-align: justify }
.tafj { text-align: justify }
.tafj:after { 
  content: "";
  display: inline-block;
  width: 100%;
}
.bgsc  { background-size: cover }
.bgsct { background-size: contain }
.bgpc { background-position: center }
.bgpt { background-position: top }
.bgpr { background-position: right }
.bgpb { background-position: bottom }
.bgpl { background-position: left }
.bgrn { background-repeat: no-repeat }
.bgc {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bgct {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.bb { box-sizing: border-box }
.fh  { height: 100% }
.fhm { min-height: 100% }
.fw  { width: 100% }
.vw  { width: 100vw }
.vh  { height: 100vh }
.vabl { vertical-align: baseline }
.vat  { vertical-align: top }
.vam  { vertical-align: middle }
.vab  { vertical-align: bottom }
.t0 { top: 0 }
.r0 { right: 0 }
.b0 { bottom: 0 }
.l0 { left: 0 }
.cc { font-size: 0 }
.ts { height: 1px }
.oh { overflow: hidden }
.os { overflow: scroll }
.os-x { overflow-x: scroll }
.os-y { overflow-y: scroll }
