.fl { float: left }
.fr { float: right }
.fn { float: none }

.cf::before,
.cf::after {
  content: ' ';
  display: table;
}

.cf::after {
  clear: both;
}

@if $resp {
  @each $bpn, $bp in $bps {
    @media #{$bp} {
      [#{$bpn}~="fl"] { float: left }
      [#{$bpn}~="fr"] { float: right }
      [#{$bpn}~="fn"] { float: none }
    }
  }
}