@each $i, $gut in $guts {
  @if $i == '!' {
    .g  { padding: $gut }
    .gx { padding-left: $gut; padding-right: $gut }
    .gy { padding-top: $gut; padding-bottom: $gut }
  } @else {
    @if $resp {
      @if map-has-key($bps, $i) {
        @media #{map-get($bps, $i)} {
          .#{$i}-g  { padding: $gut }
          .#{$i}-gx { padding-left: $gut; padding-right: $gut }
          .#{$i}-gy { padding-top: $gut; padding-bottom: $gut }
        }
      }
    }
  }
}