@each $i, $gut in $guts {
  @if $i == '!' {
    .g  { padding: $gut }
    .gl { padding-left: $gut; }
    .gr { padding-right: $gut; }
    .gt { padding-top: $gut; }
    .gb { padding-bottom: $gut; }
    .gx { padding-left: $gut; padding-right: $gut }
    .gy { padding-top: $gut; padding-bottom: $gut }
  } @else {
    @if $resp {
      @if map-has-key($bps, $i) {
        @media #{map-get($bps, $i)} {
          .g  { padding: $gut }
          .gl { padding-left: $gut; }
          .gr { padding-right: $gut; }
          .gt { padding-top: $gut; }
          .gb { padding-bottom: $gut; }
          .gx { padding-left: $gut; padding-right: $gut }
          .gy { padding-top: $gut; padding-bottom: $gut }
        }
      }
    }
  }
}