$bps : (
  'xl' : '(max-width:1439px)',
  'lg' : '(max-width:1260px)',
  'md' : '(max-width:1023px)',
  'sm' : '(max-width:767px)'
);

$gaps : (
  '1' : 0.5rem,
  '2' : 1rem
);

$guts : (
  '!' : 1rem
);

$fonts : (
  6.4rem,
  3.2rem,
  2.4rem,
  1.6rem,
  1.2rem,
  1.0rem
);

$cols  : 12;
$float : false;
$nest  : true;
$resp  : true;