.tal  { text-align: left }
.tar  { text-align: right }
.tac  { text-align: center }
.taj  { text-align: justify }

.tafj { text-align: justify }
.tafj:after { 
  content: "";
  display: inline-block;
  width: 100%;
}