$bps : (
  'sm' : '(min-width:40em)',
  'md' : '(min-width:52em)',
  'lg' : '(min-width:64em)'
);

$gaps : (
  0.5rem, 
  1rem, 
  2rem, 
  4rem
);

$fonts : (
  2rem, 
  1.5rem, 
  1.25rem, 
  1rem, 
  0.875rem, 
  0.75rem
);

$resp : true;
$nest : true;

@import 'h';
@import 'm';
@import 'p';
@import 'd';
@import 'f';
@import 'c';
@import 'co';
@import 'x';
@import 'z';
@import 'ps';
@import 'ta';
@import 'bg';
@import 'etc';
@import 'dev';