$bps : (
  'lg' : '(max-width:64em)',
  'md' : '(max-width:52em)',
  'sm' : '(max-width:40em)'
);

$gaps : (
  0.5rem, 
  1rem, 
  2rem, 
  4rem
);

$fonts : (
  2rem, 
  1.5rem, 
  1.25rem, 
  1rem, 
  0.875rem, 
  0.75rem
);

$cols  : 12;
$float : false;
$nest  : true;
$resp  : true;

@import 'h';
@import 'm';
@import 'p';
@import 'd';
@import 'f';
@import 'c';
@import 'co';
@import 'x';
@import 'z';
@import 'ps';
@import 'ta';
@import 'bg';
@import 'etc';
@import 'dev';