$bps : (
  'lg' : '(max-width:64em)',
  'md' : '(max-width:52em)',
  'sm' : '(max-width:40em)'
);

$gaps : (
  '1' : 0.5rem,
  '2' : 1rem,
  '3' : 2rem,
  '4' : 4rem
);

$guts : (
  '!' : 1rem
);

$fonts : (
  2rem,
  1.5rem,
  1.25rem,
  1rem,
  0.875rem,
  0.75rem
);

$cols  : 12;
$float : false;
$nest  : true;
$resp  : true;

@import 'c';
@import 'co';
@import 'p';
@import 'm';
@import 'g';
@import 'd';
@import 'x';
@import 'f';
@import 'ps';
@import 'z';
@import 'h';
@import 'ta';
@import 'bg';
@import 'etc';
@import 'dev';